.filters {
    margin-bottom: 20px;
    text-align: center;
}

.filter-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-btn.active {
    background-color: #ff6347;
}

.filter-btn:hover {
    background-color: #555;
}